html {
	font-family: 'Orbit', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	background-image: url('/pattern.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: multiply;
	color: #fff;
}

h1 {
	font-size: 2.5rem;
	line-height: 2;
	text-align: center;
	margin: 0;
}

h2 {
	font-size: 2rem;
	line-height: 2;
	text-align: center;
	margin: 0;
}
